<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxyAppSettings" type="AppSettingsOverrider.ConfigSystemProxySectionHandler, AppSettingsOverrider"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="SettingKey" value="SettingValue"/>
  </appSettings>
</configuration>